parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     null
    database_name:     feedler
    database_user:     feedler
    database_password: 1234

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       null
    mailer_password:   null

    locale:            en
    secret:            4e98a0a47e7ab43c3d256a105af1c17cb
